@import './variables.css';

.todo {
  width: 500px;
  padding: 10px 7px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

@media (max-width: 510px) {
  .todo {
    width: 100vw;
    min-width: 360px;
    height: 100vh;
  }
}
.todo__cards-block {
  overflow-y: scroll;
  height: 540px;
}

.todo__cards-block::-webkit-scrollbar {
  width: 3px;
  background-color: #f9f9fd;
}
.todo__cards-block::-webkit-scrollbar-thumb {
  width: 1px;
  background-color: #c5c2c2;

  
}

@media (max-width: 510px) {
  .todo__cards-block {
    height: 80vh;
  }
}
/* .todo__input-block {
 
} */

@media (max-width: 510px) {
  .todo__input-block {
    width: 96vw;
  }
}
